*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #404eed;
    padding: 10px;
}

.header-box{
    width: 800px;
    margin: auto;
    display: flex;
}

.logo, .link, .login{
    padding: 5px;
}

.logo{
    width: 20%;
}


.link{
    width: 60%;
    text-align: center; 
}

a{
    text-decoration: none;
    color: white;
    padding: 10px;
    display: inline-block;
}

.login{
    width: 20%;
    text-align: end;
}

.text{
    background-color: white;
    border-radius: 50px;
    padding: 10px;
    display: inline-block;
}

.section1 {
    background-image: url("/img/jumbo.png");
    background-color: rgb(164, 164, 224);
    padding: 20px;
}

.section1 > .box{
    width: 600px;
    margin: auto;
    border: 1px dashed black;
    text-align: center;
}

.box > .mac{
    color: black;
    background-color: white;
    border-radius: 50px;
}

.box > .browser{
    color: white;
    background-color: black;
    border-radius: 50px;
}

.subsection2{
    padding: 20px;
}

.subsection2 > .box{
    width: 700px;
    height: 200px;
    margin: auto;
    display: flex;
}

.boxsx{
    flex-grow: 2;
    background-color: rgb(46, 234, 234);
    border: 1px dashed black;
}

.boxdx{
    flex-grow: 1;
    background-color: pink;
    border: 1px dashed black;
}

.underline{
    background-color:rgb(176, 175, 175); 
    padding: 20px;
}

.underline > .box{
    display: flex;
    flex-direction: row-reverse;
    width: 700px;
    height: 200px;
    margin: auto;
}

.section3{
    background-color:rgb(176, 175, 175);
    padding: 20px;
}

.section3 > .box{
    width: 700px;
    height: 400px;
    background-color: green;
    margin: auto;
    border: 1px dashed black;
}

.section4{
    background-color: black;
    padding: 20px;
}

.section4 > .box{
    width: 700px;
    height: 300px;
    background-color: pink;
    margin: auto;
    border: 1px dashed black;
    display: flex;
}

.section4 > .box > .boxsx{
    border: 1px dashed black;
    flex-grow: 1;
    background-color: rgb(235, 142, 158);
}

.section4 > .box > .boxdx{
    flex-grow: 2;
    background-color: rgb(5, 169, 156);
    display: flex;
}

.underbox{
    border: 1px dashed white;
    flex-grow: 1;
}

footer{
    background-color: black;
    padding: 20px;
    border-top: 1px solid white;
}

.footer-box{
    width: 700px;
    margin: auto;
    display: flex;
    background-color: aquamarine;
    justify-content: space-between;
}

.logo-footer{
    margin: 15px 0;
    border: 1px dashed black;
    color: black;
    background-color:rgb(235, 142, 158) ;
}

.button-footer{
    margin: 15px 0;
}